body{
    background-color: lightgrey;
    margin: 0px;
}

h1{
   font: bold;
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   color: black;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(69, 69, 69);
    margin-bottom: 5px;
}

h3{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(69, 69, 69);
    font-size: small;
    margin-top: 5px;
}

nav{
    text-align: center;
    align-content: center;
}

a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 600;
    color:rgb(47, 71, 71)
}

footer{
    background-color:  rgb(154, 196, 196);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
}


.main_header{
    margin: 0px;
    padding: 30px;
    background-color: rgb(154, 196, 196);
    box-shadow: 100px, 100px, gray;
}

.links{
    align-content: center;
}

a:hover{
    color: rgb(117, 109, 196);
}

.courses{
    text-align: center;
}

.courses_text{
    text-decoration: none;
    font-weight: 500;
    color:rgb(42, 49, 57);
    margin: 10px;
    display:block;
}

.instructions{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15px;
    padding-bottom: 20px;
    color: black;
    background-image: linear-gradient(rgb(154, 196, 196), rgb(196, 244, 241));
    border-radius: 10px;
    box-shadow: 5px 5px 2px gray;
}

.nota{
    text-align: center;
    font-weight: 600;
    background-color:  rgb(154, 196, 196);
    padding: 20px;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}

.calc{
    margin-top: 30px;
    background-color:  rgb(154, 196, 196);
    border-color: transparent;
    box-shadow: 5px 5px 5px gray;
}

button:hover{
    background-color:rgb(103, 140, 140);
}